<div id="main">
    <aside id="sidebar">
        <ul>
            <li class="profile">
                <div id="pic">AX</div>
                <p id="un">Alex</p>
            </li>
            <li onclick="top.location.href = `#/dashboard`" class="item"> <img src="./assets/images/dashboard.svg" alt="" class="icon"><p class="item-name">Dashboard</p></li>
            <li onclick="top.location.href = `#/surveys`" class="item" ><img src="./assets/images/surveys.svg" alt="" class="icon"><p class="item-name">My surveys</p></li>
            <li onclick="top.location.href = `#/create`" class="item" ><img src="./assets/images/create_survey.svg" alt="" class="icon"><p class="item-name">Create surveys</p></li>
            <li onclick="top.location.href = `#/profile`" class="item active" ><img src="./assets/images/user.svg" alt="" class="icon"><p class="item-name">Profile</p></li>
        </ul>
    </aside>
    <div id="content">
        <h1>profile</h1>
    </div>
</div>