<div id="main">
    <div class="form-wrapper">
        <div class="logo">
            <img src="./assets/images/logo.svg" alt="alex logo" class="img-fluid">
        </div>
        <h1>Welcome to <mark>EasySurvey</mark></h1>
        <h2>Create an account.</h2>
        <form onsubmit="return false;" novalidate>
            <label for="un">Username *</label>
            <input type="text" id="un" name="un" required minlength="2" maxlength="20" placeholder="Your username">
            <label for="pw">Password *</label>
            <input type="text" id="pw" name="pw" required minlength="8" maxlength="20" placeholder="Your password">
            <button class="button">Sign up</button>
        </form>
        <p class="switch-form">Already have an account? <b><a href="#/register" class="form-link">Login here</a></b>.</p>   
    </div>
</div>