body{
    overflow: hidden;
}
#main{
    background-color: var(--dgray);
    display: flex;
}
#sidebar{
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    height: calc(100vh - 76px);
    overflow-y: auto;
    width: 20%;
    padding-left: 1.5rem;
    min-width: 250px;
}
#content{
    border-bottom: 1px solid var(--gray);
    height: calc(100vh - 76px);
    overflow-y: auto;
    flex-grow: 1;
}
.dashboard{
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 10px;
}
.profile{
    display: flex;
    column-gap: 12px;
    align-items: center;
    padding: 15px 0;
}
#pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--bg);
    font-size: 1.4rem;
}
#sidebar li.item{
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: var(--gray)
}
#sidebar li.item:hover{
    background-color: var(--lgray);
}
#sidebar li.item.active{
    background-color: var(--gray);
    color: var(--main-color);
}
li.item.active .icon{
    filter: brightness(0) invert(88%) sepia(86%) saturate(6576%) hue-rotate(132deg) brightness(106%) contrast(101%);
}
.item .icon{
    display: block;
    width: 30px;
    height: 30px;
}
.stat{
    border-radius: 10px;
    background-color: var(--lgray);
    padding: 10px;
    min-width: 200px;
}
.stat-title{
    font-size: 1.1rem;
}
.stat-body{
    display: flex;
    padding-top: 10px;
}
.stat-icon{
    width: 40px;
    height: 40px;
}
.stat-content{
    flex-grow: 1;
}
.stat-counter{
    font-size: 2rem;
    color: var(--main-color);
    text-align: right;
}
.stat-counting{
    color: var(--gray);
    text-align: right;
}
.stat-50{
    width: calc(50% - 5px);
}
@media screen and (max-width: 750px){
    #sidebar{
        width: 50px;
        min-width: 50px;
        padding-left: 0;
    }
    #sidebar li.item{
        padding: 10px;
    }
    #sidebar .item-name{
        display: none;
    }
    .profile{
        padding: 15px 5px;
    }
    #un{
        display: none;
    }
}
@media screen and (max-width: 479px){
    .stat-50{
        width: 100%;
    }
}