*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*:focus{
    outline: 1px solid var(--main-color);
}
:root {
    /*COLORS*/
    --bg: #090910;
    --text: #fff;
    --gray: #45454f;
    --dgray: #121218;
    --lgray: #1c1c21;
    --main-color: #33FFFF;
    --error: #f84646;
    /*FONTS*/
    --pri-font: 'Karla';
    --sec-font: 'Playfair';
}

::-moz-selection { /* Code for Firefox */
    color: var(--white);
    background: var(--main-color);
}

::selection {
    color: var(--white);
    background: var(--main-color);
}
body{
    min-height: 100vh;
    font-family: var(--pri-font), sans-serif;
    color: var(--text);
    background: var(--bg);
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    overflow-x: hidden;
}
.img-fluid{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.common-text{
    line-height: 1.8rem;
}
mark{
    background-color: transparent;
    color: var(--main-color);
}
.button{
    background-color: var(--main-color);
    color: var(--bg);
    text-align: center;
    letter-spacing: -.32px;
    border-radius: .625rem;
    margin-bottom: 0;
    padding: .875rem 1.375rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.button.secondary{
    background-color: var(--gray);
    color: var(--text);
}
label.error{
    display: none;
    width: 100%;
    font-size: 0.9rem;
    color: var(--error);
}
label.error.active{
    display: block;
}
input.error{
    margin-bottom: 3px!important;
    border: 1px solid var(--error)!important
}
@media screen and (max-width: 1169px){
    .container{
        max-width: 970px;
    }
}
@media screen and (max-width: 969px){
    .container{
        max-width: 750px;
    }
}
/*FONT*/
@font-face {
    font-family: 'Playfair';
    src: url(./easy-survey/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Karla';
    src: url(./easy-survey/assets/fonts/Karla/Karla-VariableFont_wght.ttf) format('truetype');
}