/*NAVBAR*/
#navbar, #navbar-auth{
    padding: 8px 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

#navbar .logo, #navbar-auth .logo{
    display: block;
    height: 60px;
}